    * {
        margin: 0;
        padding: 0;
    }
    
    .fa {
        padding: 10px;
        font-size: 60px;
        width: 20px;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    
    .fa-instagram {
        background: #125688;
        color: white;
    }
    
    #s1 {
        background-image: url(c1.gif);
        width: 100%;
        height: 100%;
        margin-top: 30px;
        display: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    #s3 {
        display: none;
    }
    
    #s2 {
        display: none;
    }
    
    #p1>a {
        font-size: 30px;
        font-weight: 900px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }
    
    #div {
        background-color: #91c749;
        position: absolute;
        height: 3%;
        width: 100%;
        margin-top: 480px;
    }
    
    #p1 {
        animation: hari 1s;
    }
    
    @keyframes hari {
        from {
            transform: scale(0.0);
        }
        to {
            transform: scale(1);
        }
    }
    
    #p {
        color: white;
        font-size: 25px;
        -webkit-text-stroke: 1px black;
        font-weight: 900px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #button {
        background-color: red;
        color: white;
        width: 20%;
        height: 10%;
        border-radius: 5px;
        font-size: 22px;
        box-shadow: 0 1px 2px 2px rgb(51, 37, 37);
        margin-top: 20%;
        margin-left: 41%;
        outline: none;
    }
    
    #button:hover {
        transform: scale(0.93);
        outline: red;
    }
    
    #s3>a>.fa-whatsapp {
        background-color: green;
        padding: 8px;
        color: white;
        font-size: 15px;
        width: 90px;
        border-radius: 4px;
        font-weight: 900;
        word-spacing: 2px;
        cursor: pointer;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.767);
    }
    
    #s3>a>.fa-facebook {
        background-color: rgb(20, 20, 104);
        padding: 8px;
        color: white;
        font-size: 15px;
        width: 80px;
        border-radius: 4px;
        font-weight: 900;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.767);
    }
    
    #s3>a>.fa-twitter {
        background-color: #55ACEE;
        padding: 8px;
        color: white;
        font-size: 15px;
        width: 80px;
        border-radius: 4px;
        font-weight: 900;
        word-spacing: 2px;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.767);
    }
    
    #s3 {
        background-color: thistle;
        padding: 10px;
        color: white;
        font-weight: bold;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.719);
    }
    
    @media only screen and (max-width: 600px) {
        #s1 {
            width: 100%;
            height: 80%;
            background-repeat: no-repeat;
            background-position: center;
        }
        #s3>a>.fa-whatsapp,
        #s3>a>.fa-facebook,
        #s3>a>.fa-twitter {
            padding: 10px;
            width: 60px;
            font-size: 10px;
        }
        #s3>a>.fa-whatsapp {
            word-spacing: 2px;
            font-size: 12px;
        }
        #div {
            display: none;
        }
        #button {
            width: 50%;
            height: 10%;
            border-radius: 5px;
            font-size: 22px;
            box-shadow: 0 1px 2px 2px rgb(51, 37, 37);
            margin-top: 40%;
            margin-left: 25%;
            outline: none;
            cursor: pointer;
        }
        #button:hover {
            transform: scale(0.8);
            outline: red;
        }
        #s3 {
            background-color: thistle;
            padding: 6px;
        }
    }
    
    @media screen and (device-aspect-ratio: 40/71) {
        #s3>.fa-whatsapp,
        #s3>.fa-facebook,
        #s3>.fa-twitter {
            padding: 8px;
            width: 70px;
            word-spacing: 1px;
            font-size: 12px;
        }
    }
    
    #s3 {
        background-color: thistle;
        padding: 6px;
    }
    
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
        #s3>a>.fa-whatsapp,
        #s3>a>.fa-facebook,
        #s3>a>.fa-twitter {
            padding: 20px;
            width: 130px;
            word-spacing: 3px;
            font-size: 20px;
        }
        #s1 {
            background-repeat: no-repeat;
            height: 50%;
        }
    }
    
    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
        #s3>a>.fa-whatsapp,
        #s3>a>.fa-facebook,
        #s3>a>.fa-twitter {
            padding: 10px;
            width: 60px;
            word-spacing: 2px;
            font-size: 10px;
        }
    }